{%extends 'base.html'%}
{%load static%}
{% block title %}
	İstifadəçi qeydiyyatı
{% endblock  %}
{% block some_scripts %}
<script src="{%static 'account/js/show_password.js'%}"></script>
{% endblock  %}
{%block content%}
	<div class="container justify-content-center">
		<div class="text-center mb-3 mt-2">
			<h1>Qeydiyyat</h1>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xs-2 col-md-4 col-lg-4 col-xl-4"></div>
			<div class="col-sm-8 col-xs-8 col-md-4 col-lg-4 col-xl-4">
				<form method="post" action="{%url 'register_user'%}">
					{% csrf_token %}
					<div class="mb-3">
						<label class="form-label" for="id_email">Elektron poçt</label>
						<input class="form-control" type="email" name="email" id="id_email" required>
					</div>
					<div class="mb-3">
						<label class="form-label" for="id_password1">Şifrə</label>
						<input class="form-control" type="password" name="password1" id="id_password1" required>
					</div>
					<div class="mb-3">
						<label class="form-label" for="id_password2">Şifrə təkrar</label>
						<input class="form-control" type="password" name="password2" id="id_password2" required>
					</div>
					<div class="mb-3">
						<div class="form-check form-switch">
							<input class="form-check-input" type="checkbox" role="switch" id="id_sifreni_goster">
							<label class="form-check-label" for="id_sifreni_goster">Şifrəni göstər</label>
						  </div>
					</div>
					<button type="submit" class="btn btn-success">Qeydiyyat</button>
				</form>
			</div>
			<div class="col-sm-2 col-xs-2 col-md-4 col-lg-4 col-xl-4"></div>
		</div>
	</div>
{%endblock%}