{%extends 'base.html'%}
{% block title %}
	İstifadəçi qeydiyyatı
{% endblock  %}
{%block content%}
	<div class="container justify-content-center">
		<div class="text-center mb-3 mt-2">
			<h1>Qeydiyyat</h1>
		</div>
		<div class="row">
			<div class="col-sm-2 col-xs-2 col-md-4 col-lg-4 col-xl-4"></div>
			<div class="col-sm-8 col-xs-8 col-md-4 col-lg-4 col-xl-4">
				<form method="post" action="{%url 'register_user'%}">
					{% csrf_token %}
					<div class="mb-3">
						<label class="form-label" for="id_email">Elektron poçt</label>
						<input class="form-control" type="email" name="email" id="id_email">
					</div>
					<div class="mb-3">
						<label class="form-label" for="id_password1">Şifrə</label>
						<input class="form-control" type="password" name="password1" id="id_password1">
					</div>
					<div class="mb-3">
						<label class="form-label" for="id_password2">Şifrə təkrar</label>
						<input class="form-control" type="password" name="password2" id="id_password2">
					</div>
					<button type="submit" class="btn btn-success">Qeydiyyat</button>
				</form>
			</div>
			<div class="col-sm-2 col-xs-2 col-md-4 col-lg-4 col-xl-4"></div>
		</div>
	</div>
{%endblock%}