.cox_oxunulan{
    text-decoration: none;
}
.cox_oxunulan:hover{
    text-decoration: underline;
}
.karusel_basliq{
    text-decoration: none;
    color: #ffffff;
}
.karusel_basliq:hover{
    text-decoration: underline;
}
hr.divider{
    border: none;
    border-top: 2px solid rgb(21, 226, 21);
    overflow: visible;
}
.karusel_basliq_ana{
    background-color: rgba(146, 173, 160,.5)!important;
    border-radius: 10px;
    margin-bottom: 0;
}