.cox_oxunulan{
    text-decoration: none;
}
.cox_oxunulan:hover{
    text-decoration: underline;
}
.karusel_basliq{
    text-decoration: none;
    color: white;
}
.karusel_basliq:hover{
    text-decoration: underline;
}