{%extends 'base.html'%}
{% load static %}
{% block title %}
    Əsas səhifə
{% endblock %}
{% block some_scripts %}
<script src="{%static 'blog/js/blog_index.js'%}"></script>
{% endblock  %}
{% block some_css %}
    <link rel="stylesheet" href="{%static 'blog/css/blog_index.css'%}">
{% endblock  %}
{% block content %}
    <div class="container-fluid mt-4">
        <div class="container mb-2">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          {%for yazi in yazilar%}
                            {%if yazi.karuselde%}
                                <div class="carousel-item">
                                    <a href="{%url 'yazini_tap' yazi.blog_slug%}" target="_blank" rel="noopener noreferrer">
                                        <img src="{{yazi.karusel_sekli.url}}" class="d-block w-100" alt="...">
                                    </a>
                                    <div class="carousel-caption d-block d-md-block d-sm-block d-xs-block" style="background-color: gray!important;opacity: .8; color: white;">
                                        <h5>
                                            <a class="karusel_basliq" href="{%url 'yazini_tap' yazi.blog_slug%}" target="_blank" rel="noopener noreferrer">
                                                {{yazi.basliq}}
                                            </a>
                                        </h5>
                                    </div>
                                </div>
                            {%endif%}
                          {%endfor%}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <i class="fa fa-chevron-left" style="font-size:36px;color:rgb(153, 216, 5)"></i>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <i class="fa fa-chevron-right" style="font-size:36px;color:rgb(153, 216, 5)"></i>
                        <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <hr class="divider">
        <div class="container-lg mt-3 mb-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card p-1">
                        <a href="{%url 'yazini_tap' cox_oxunulan.blog_slug%}" target="_blank" title="{{cox_oxunulan.basliq}}">
                            <img src="{{cox_oxunulan.basliq_sekli.url}}" class="" style="width:100%;height:100%;">
                        </a>
                        <div class="card-body">
                          <h5 class="card-title">
                            <a class="cox_oxunulan" href="{%url 'yazini_tap' cox_oxunulan.blog_slug%}" target="_blank" title="{{cox_oxunulan.basliq}}">{{cox_oxunulan.basliq}}</a>
                          </h5>
                          <p class="card-text cox_oxunulan_kateqoriya">Kateqoriya -
                            {%for kateqoriya,novbeti in cox_oxunulan_kateqoriya_list%}
                                <span class="text-body-secondary">{{kateqoriya.kateqoriya_adi|lower}}</span>
                                {%if novbeti %},{%endif%}
                            {%endfor%}
                          </p>
                        </div>
                      </div>
                </div>
                <div class="col-lg-3">&nbsp;</div>
                <div class="col-lg-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">Yeni məqalələr <hr style="border:none;border-top: 4px solid red;overflow: visible; height:5px;" /></div>
                        </div>
                        {% for yazi in yeni_yazilar %}
                            <div class="row">
                                <div class="col">
                                    <a target="_blank" href="{%url 'yazini_tap' yazi.blog_slug%}" class="cox_oxunulan">{{yazi.basliq}}</a>
                                </div>
                            </div>
                            <hr style="border:none;border-top: 2px solid green;overflow: visible; height:5px;" />
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i class="bi bi-android2"></i>
{% endblock %}