{%extends 'base.html'%}
{% block title %}
    Kateqoriya | {{secilen_kateqoriya}}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-2">
                <h2 class="h2"><span class="text-primary">{{secilen_kateqoriya}}</span> kateqoriyasına aid məqalələr</h2>
            </div>
        </div>
        <div class="row">
            {% if yazilar %}
                {% for yazi in  yazilar%}
                <div class="col-md-6 col-lg-6 col-xl-4 col-xxl-4">
                    <div class="card mb-3 p-3 w-100 mt-2">
                        <div class="row g-0">
                        <div class="col-md-4">
                            <a href="{%url 'yazini_tap' yazi.blog_slug%}" target="_blank" rel="noopener noreferrer">
                                <img src="{{yazi.basliq_sekli.url}}" class="img-fluid rounded-start" alt="{{yazi.basliq}}">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body ps-0">
                            <h5 class="card-title">{{yazi.basliq}}</h5>
                            <p class="card-text">Kateqoriya - <small class="text-body-secondary">{{secilen_kateqoriya}}</small></p>
                            </div>
                            <a href="{%url 'yazini_tap' yazi.blog_slug%}" target="_blank" rel="noopener noreferrer" class="btn btn-primary">Ətraflı oxu...</a>
                        </div>
                        </div>
                    </div>    
                </div>
                {% endfor %}
            {% else %}
                    <div class="alert alert-warning">Bu kateqoriyaya aid məqalə yoxdur.</div>
            {% endif %}
        </div>
    </div>
{% endblock %}